.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 4.5rem;
  padding: 1rem 0rem;
  position: sticky;
  top: 0%;
  background-color: white;
  z-index: 10;
  box-shadow: 0px 7px 10px -12px rgba(0, 0, 0, 0.45);
  
}
.navbarRight{
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 1rem;
}
.shop{
  margin: 0px;
  font-size: 4vw;
  color: rgb(14, 140, 224);
  cursor: pointer;
}
.shop:hover{
  
    color: #b9077d;
    text-decoration: none;
  
}
.lane{
  color: black;
}



.categories{
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 1px 70px;
  padding: 10px;
  border-radius: 2px;
  
  gap: 4rem;
  font-size: 15px;
}
.wrapper{
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 40px;
  margin-top: 80px;
}
.heart-icon{
  position: relative;
  top: 0px;
  left: 80px;
  font-size: 24px;
  cursor: pointer;

}
.productHeart {
  color: red;
}
.cartDiv {
  display: flex;
  flex-direction: row;
}

.imageDiv {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 40%;
}

.imageDiv img {
  width: 50%;
  object-fit: contain;
}

.contentDiv {
  width: 60%;
}

.quantityChangeDiv {
  display: flex;
  gap: 0.5rem;
}
.quantityChangeInsideDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.minusIcon,
.plusIcon {
  display: flex;
  background-color: rgb(50, 15, 173);
  border-style: none;
  font-size: 1.5rem;
}

.productPriceDivInCart {
  display: flex;
  align-items: center;
}

.productPriceDiv {
  margin-right: 1.5rem;
}

.dollarSign,
.mainPrice,
.subPrice {
  margin: 0px;
}

.quantityToMultiply {
  color: rgb(179, 59, 59);
}

.cartSummaryDiv {
  width: 30%;
}
.summaryDiv {
  margin: 0rem 2rem 2rem;
}

.orderSummary {
  margin: 1rem 0rem 2rem;
}